@import "../../Sass/main.scss";


.header {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    height: 68px;
    margin: 0 auto;

    @include small {
        height: 47px;
    }

    &__logo {
        width: 210px;

        @include small {
            width: 145px;
        }
    }

    &__navbar {
        display: flex;
        justify-content: flex-end;
        width: 309px;

        li {
            display: inline-flex;
            font-family: $font-family;
            font-size: 24px;
            color: $primary-color;

            @include small {
                font-size: 12px;
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            height: 34px;
            gap: 57px;

            @include small {
                height: 17px;
                gap: 10px;
            }
        }

        .nav-active {
            display: flex;
            text-decoration: underline;
            color: $primary-color;
        }
    }
}