/*** Colors ***/

$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$tertiary-color: #FFFFFF;


/*** Background colors ***/
$bg-footer-color: #000000;
$bg-images: rgba(0, 0, 0, 0.3);
$bg-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);