@import "../../Sass/main.scss";


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    gap: 60px;
    background-color: $secondary-color;
    border-radius: 25px;

    @media screen and (max-width: 1375px) {
        padding: 30px 20px;
        gap: 30px;
    }

    @include medium {
        background-color: $tertiary-color;
        padding: 0;
        gap: 20px;
    }
}