@import "../../Sass/main.scss";


.accommodation {
    max-width: 95%;
    margin: 0 auto;

    &__carousel {
        margin-top: 30px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include large {
            flex-direction: column;
        }

        &__infos {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            font-family: $font-family;
            color: $primary-color;

            &__title {
                font-weight: 500;
                font-weight: 36px;
                line-height: 51px;
                margin: 0;

                @include x-large {
                    font-size: 27px;
                }

                @include small {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            &__location {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                margin: 0;

                @include small {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &__tags {
                margin-top: 30px;

                @include small {
                    margin-top: 10px;
                }
            }
        }

        &__host-rating > .__infos {
            display: flex;
            flex-direction: column;
        }

        &__host-rating > .host {

            @include large {
                justify-content: flex-start;
            }
        }

        &__host-rating {

            @include large {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-content: baseline;
            }
        }

        &__host-rating__rate {
            margin-top: 27px;
            margin-bottom: 27px;
        }
    }

    &__collapse {
        display: inline-flex;
        width: 100%;
        margin-top: 24px;
        gap: 76px;

        @include x-large {
            gap: 30px;
        }

        @include large {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        @include small {
            margin-top: 0;
        }
    }

    &__collapse > .collapse {
        width: 50%;
        list-style: none;

        @include large {
            width: 100%;
        }
    }
}